<section id="faq" class="rcp-faq natural-ingredients common-section" style="background-image: url({{ section.settings.background | img_url: 'master' | split:'?' | first }})">
    <div class="page-width">
        <div class="grid">
			<div class="grid__item medium-up--one-half"><h2>{{ section.settings.head }}</h2></div>
			<div class="grid__item medium-up--one-half pl-0">
				<div class="wrap">
                  <div class="collapse slide active">
                    <h2>About Collagen <i class="active"></i></h2>
                    <div class="collapse_inner slide" style="display: block;">
                      <h3>What does aging Mean?</h3>
                      <div>When we are young, our metabolism runs at full speed and our body cells are constantly renewing themselves. The nutrient uptake works flawlessly, and the body’s own production of important substances also helps to ensure the body gets everything it needs. We are bursting with strengths and youthfulness. But as we grow older, many processes in the body change. Our entire metabolism slows down and the untack and processing of nutrients decline. Certain tissues within the body are no longer reproduced at the required levels. Cartilage tissue wears out, bones become more porous, blood vessels calcify and stiffen. The blood flow decreases, and as a result neither the tissue nor the brain is optimally provided for. The skin loses its ability to store moisture. These aging processes cannot be halted or reversed. They can, however, be influenced by physical activity and a targeted diet with nutritional supplementation.</div>
                    </div>
                    <div class="collapse_inner slide" style="display: block;">
                      <h3>Why is Collagen Important?</h3>
                      <div>It is well known that the human body consists largely of water. Proteins are the other major component. When referring to the heart, lungs, kidneys, liver, brain, skin, bones, and even most hormones and enzymes that are indispensable for metabolism, it is always the proteins that provide their structure and function. Collagen is the most abundant component in the human body, and therefore the most important component of human connective tissue. This extraordinary protein is also the central building block of the bones, joints, tendons, and many other tissues and structures. Collagen provides a structure for the body and its many organs, and keeps them “together” in the truest sense of the word. It is present nearly everywhere in the body, forming and connecting moving parts, like the bones, and in turn, the muscles, tendons, and ligaments with the bones.</div>
                    </div>
                    <div class="collapse_inner slide" style="display: block;">
                      <h3>How many types of collagen exists?</h3>
                      <div>Currently we know of 28 different types of collagen. The human body mainly consists of collagen types I, II and III. Type I accounts for about 90% of the body’s total collagen content, mainly in the connective tissue of the skin, bones, and tendons. Type II accounts for joint cartilage, and type III accounts for skin and muscles.</div>
                    </div>
                    <div class="collapse_inner slide" style="display: block;">
                      <h3>What are collagen peptides?</h3>
                      <div>When we are young, our body is busy day and night performing renovation work. It keeps itself young by breaking down old tissue, while at the same time building new tissue to replace old. As we age, this process slows down, but it never ceases. When our body breaks down collagen, these long chains are disassembled, by enzymes, into small “snippets'' for removal. This sends a signal to the body: “Attention! Bits of degraded collagen are floating around here; we have to start rebuilding.” A young and healthy body reacts promptly to build the required quantity. As we age, our metabolism becomes weary and these signals are no longer enough for the body, which is becoming sluggish. When we consume collagen peptides as a dietary supplement, we ingest just these collagen snippets, but in larger amounts. Our bodies are rapidly digesting and absorbing collagen, mainly in the form of the smallest units, single amino acids, but also partially in intact form as collagen peptides (collagen snippets). These collagen snippets reach the bloodstream and distribute throughout the body. Now the cells in our body, which are responsible for connective tissue/collagen metabolism, notice that there is an imbalance. It is like an alarm, “Attention! There are lots of collagen particles swimming about here, now we really have to get work and make even more collagen!” As the collagen supplements provide the amino acids, building blocks for collagen synthesis at the same time, they support the body twofold. In this way, collagen peptides stimulate our body’s own collagen production. The whole connective tissue metabolism comes to life. Taking the skin as an example, it can be shown that other important components of skin structure, such as elastin and proteoglycans, are also produced in great quantities. The dermis, the second layer of skin, is, so to speak, completely overhauled. At the same time the degradation of the skin is slowed. In total, more collagen is being built up than broken down, and it is exactly this effect that many users, mostly women, describe as a more attractive, firmer, radiant complexion. The balance also shifts in other tissue types such as cartilage or bone: increased formation, slower degradation. This also explains why dietary supplements cannot produce visible or tangible results instantly disappear. Our body needs time to adapt to these processes. It is important to note one thing, collagen peptides do not only affect the symptoms, but also address the causes of the problems directly.</div>  
                    </div>
                    <div class="collapse_inner slide" style="display: block;">
                      <h3>What are Specific Collagen Peptides?</h3>
                      <div>We have invested a lot of time researching these differences, and came up with a method of cutting the snippets out of the long chain of amino acids “to size’ in precisely the right way. Specific collagen peptides are optimized for different purposes, and for specific conditions.</div>
                    </div>
                    <div class="collapse_inner slide" style="display: block;">
                      <h3>What is the difference between collagen and collagen peptides?</h3>
                      <div>Collagen molecules themselves are very large, which is why the body has difficulty in using and absorbing them. Collagen peptides are obtained from collagen. Collagen peptides are collagen molecules cut smaller allowing our body to make good use of them. Therefore, one speaks of their excellent “bioavailability”. </div>
                    </div>
                    <div class="collapse_inner slide" style="display: block;">
                      <h3>What does bio-availability mean?</h3>
                      <div>Collagen peptides can be so well absorbed by the body because they are water-soluble, and, unlike other proteins, have a very simple peptide structure, that is very easy for the body to work with. They are “broken down”, with an enzymatic process called “exogenous enzymatic hydrolysis”, and can therefore be absorbed more quickly and extensively than under natural collagen. </div>
                    </div>
                  </div>
                  <div class="collapse slide">
                    <h2>Crucial Point of Differences <i class="active"></i></h2>
                    <div class="collapse_inner slide">
                      <h3>Why are Royal Collagen Peptides different from other products in the market?</h3>
                      <div>The vast majority of collagen products available on the market today do not address the issue of collagen biosynthesis (the body’s ability to create its own collagen.) They combat the issue of collagen degeneration by offering a supplement that focuses on offsetting the loss. ROYAL Specific Collagen Peptides both offset the loss & maximize stimulation of the human cell types responsible for collagen biosynthesis giving the body fuel to create collagen to improve skin, hair, nail, joints, and bone health*. </div>
                    </div>
                    <div class="collapse_inner slide">
                      <h3>How do Royal Collagen Peptides help reduce the appearance of wrinkles?</h3>
						          <div>Royal Collagen Peptides work in 2 ways: firstly, they stimulate the activity of the fibroblasts. Fibroblasts are cell types that build fibers and molecular components of the connective tissue, thus giving the skin its structure and firmness. Activating the fibroblasts encourages the production of new collagen structures as well as the ones from the hyaluronic acid. Hyaluronic acid can bind a great deal of water and is indispensable for taut-looking skin (taut means tight, firmer). This process takes some time, but with consistency and determination, your skin regains its natural tone and improves its moisture-storing capacity.<br>
                      Furthermore, Royal Collagen Peptides provide the skin with the necessary “building blocks”. Their mode of action is extremely sophisticated. They perfectly resemble the fragments which form when skin collagen degrades. Our body “recognizes” the peptides as degradation products, and boosts the body’s own collagen synthesis. The result:<br>
                      Thanks to the considerably higher production of natural collagen, the skin can repair itself and replace what was lost through age and environmental influencers.</div>
                    </div>
                    <div class="collapse_inner slide">
                      <h3>Why is Royal Collagen Peptides important for connective tissue?</h3>
                      <div>Connective tissue includes the skin, ligaments, tendons, cartilage and joint cartilage, but also the fasciae and blood vessels.<br>
                      Collagen is the main component of connective tissue and structural tissue, and is found everywhere in the body. It gives bones, joints, tendons, ligaments, and muscles strengths and flexibility. If the collagenous structures are degraded by heavy stress, for example by working out, or by the normal aging process, the function of all organs and tissues that depend on collagen are impaired. Ligaments and tendons weaken, muscle mass decreases, and above all, the loss of highly important cartilage tissue at the joints can lead to painful symptoms. Fibroblasts are cell types responsible for collagen biosynthesis in the connective tissue. They build fibers and molecular components of the connective tissue, thus giving the skin structure and firmness. Activating the fibroblasts encourages the production of new collagen structures as well as the ones from the hyaluronic acid.</div>
                    </div>
                    <div class="collapse_inner slide">
                      <h3>Why do I need collagen for promoting joint health?</h3>
                      <div>Cartilage is a very important constituent of our joints. It acts as a shock absorber, when 2 bones meet at the joint, allowing frictionless, smooth movement, while protecting the bones and joints. Since cartilage is not connected to the bloodstream, it receives its nutrients via a different system, the so-called “joint lubricant” (synovial fluid) that acts like a lubricant film and supplies the sponge-like cartilage with nutrients. This works through movement and pressure. Therefore, to supply the cartilage, exercise if essential. Royal collagen peptides stimulate the activity of the chondrocytes. Chondrocytes are cell types responsible for the collagen biosynthesis in the cartilage. They produce and maintain cartilage matrix.</div>
                      </div>
                    <div class="collapse_inner slide">
                      <h3>Why do I need collagen from promoting bone health?</h3>
                      <div>About 70% of our bones are made of inorganic minerals, and 10% of water. Collagen makes up the remaining another 20% and forms the basic framework of the bone to which calcium “attaches”. Imagine calcium as the concrete bridge and collagen has the steel core. Calcium is considered the concrete that provides the mineral component of the structure’s strength. For this reason, Royal Collagen Peptides’ consumption is extremely important for helping maintain bone health. If collagen is missed in your body, the degradation of bone mass along with the stability of high density bone is compromised. Royal Collagen Peptides help support bone health and improve bone stability and flexibility by stimulating the activity of the osteoblasts, the cell types responsible for the collagen biosynthesis (absorption) in the bone.</div>
                    </div>
                    <div class="collapse_inner slide">
                      <h3>Why is Royal Collagen Peptides a 5 in 1 dietary supplement?</h3>
                      <div>1. Improvement of Skin Health.<br>
                      Improving elasticity, hydration, fine lines, wrinkles, ligaments, and tendons*<br><br>
                      2. Improvement of Bone Health.<br>
                      Improving bone stability, flexibility, and density*<br><br>
                      3. Improvement of Nail Health.<br>
                      Promoting growth and health of fingernails*<br><br>
                      4. Improvement of Hair Health.<br>
                      Promoting healthy hair*<br><br>
                      5. Improvement of Joint Health.<br>
                      Measurable recovery of joint cartilage*</div>
                    </div>
                    <div class="collapse_inner slide">
                      <h3>Why natural Vitamin C is added to the Royal Collagen Peptides?</h3>
                      <div>Royal Collagen Peptides are carefully blended with a potent & completely natural form of vitamin C. Clinical research has proven that skin health is significantly improved when taking a collagen supplement combined with Vitamin C. However, choosing the right source of Vitamin C is CRUCIAL. Clinical studies have shown that taking vitamin C along with collagen peptides supplements ensure a healthy biosynthesis of collagen within the whole body.</div>
                    </div>
                  </div>
                  <div class="collapse slide">
                    <h2>Sourcing <i class="active"></i></h2>
                    <div class="collapse_inner slide">
                      <h3>Where do you source your Collagen Peptides from?</h3>
                      <div>Our collagen peptides are bovine source only, exclusively from trusted European suppliers, and not from multiple untraceable animal sources from third world countries. Our bovines are subjected to the strictest of veterinary inspections prior to being released for human consumption ensuring that any contamination of the final product is avoided.</div>
                    </div>
                    <div class="collapse_inner slide">
                      <h3>Where do you source your Vitamin C?</h3>
                      <div>The vast majority of Vitamin C (ascorbic acid) used in supplements on the market today is synthetically or artificially manufactured, mostly in China. Our experts opted not to use this cheap source and instead decided to use a vastly superior, completely natural and clinically proven source known as the Red Orange Complex® from Sicily.<br><br>
                      The Red Orange Complex® contains a standardized powder extract obtained from the juice of three pigmented (Moro, Tarocco, and Sanguinello) varieties of Sicilian blood oranges that are exclusively grown in a particular area surrounding the Mount Etna volcano in Sicily (Italy).</div>
                    </div>
                  </div>
                  <div class="collapse slide">
                    <h2>General Questions <i class="active"></i></h2>
                    <div class="collapse_inner slide">
                      <h3>I am a vegetarian. Is there anything similar of plant origin?</h3>
                      <div>There are indeed a multitude of plant based proteins, for example, soy and hemp. However, they cannot replace collagen peptides, as nutritional supplements. The explanation is quite simple, our body itself is not made of plant origin. In purely biological terms, we are, we are also “animals”- the collagen peptides of warm-blooded animals correspond to our body’s own collagen building blocks in their molecular structure. Our body recognizes them as quasi naturally-produced proteins and can easily absorb and utilize them.</div>
                    </div>
                    <div class="collapse_inner slide">
                      <h3>Can I take Royal Collagen Peptides as a diabetic?</h3>
                      <div>Absolutely! For diabetics who have to keep their blood glucose level under control, collagen peptides are an ideal source of energy and of protein. Many diabetics also suffer from poor wound healing. Collagen peptides have a positive effect in this case, because when the functionality of collagenous structures in the skin is supported, collagen can also improve wound healing.</div>
                    </div>
                    <div class="collapse_inner slide">
                      <h3>Can I take Royal Collagen Peptides whilst pregnant or breastfeeding?</h3>
                      <div>We always recommend talking with your doctor first, before consuming our product, as nutritional needs can vary when you are pregnant or breastfeeding.</div>
                    </div>
                    <div class="collapse_inner slide">
                      <h3>I suffer from various food allergies. Do your collagen peptides trigger allergies?</h3>
                      <div>Collagen peptides are considered non-allergic. Their structure is very similar to that of the body’s own natural collagen. For that reason, collagen peptides are not regarded as a foreign substance that must be combated, even in a very sensitive immune system. This is why medical sponges made of collagen are used in surgical procedures. For example, a surgeon uses them in the body to stop bleeding and leaves them in place so that they can continue to regulate the blood flow; even after the operation. The surgeon simply sutures the incision, and the sponges are simply absorbed and degraded in the body just in few weeks without any reactions occurring. Nevertheless, if you suffer from allergies, we recommend you consult your healthcare professional before taking this product.</div>
                    </div>
                    <div class="collapse_inner slide">
                      <h3>I do not like protein drinks. Do Royal Collagen Peptides taste the same?</h3>
                      <div>Our collagen peptides have a mild flavor of their own, however this is nothing like the taste of conventional protein powders and peptides. Because of their neutral taste, and the excellent solubility and dissolution properties, many customers can mix Royal collagen peptides with breakfast cereal, drinks, yogurt and any cold drinks.</div>
                    </div>
                    <div class="collapse_inner slide">
                      <h3>I am struggling with my weight and how would like to know how many calories Royal Collagen Peptides contain.</h3>
                      <div>Like the other proteins, Royal Collagen Peptides have a caloric value of 4 kilocalories per gram. Fat, for example, has 9 kilocalories per gram, and alcohol has no less than 7. So, if you take the recommended quantity of 2.5 grams of collagen peptides daily for your skin, that amounts to only 10 kilocalories. For muscle building and body toning, the recommended15 grams totals up to 60 kilocalories. But here comes the best news: Royal Collagen Peptides can increase and prolong the feeling of being full and counteract food cravings, which makes them ideal for weight management.</div>
                    </div>
                    <div class="collapse_inner slide">
                      <h3>Can I consume Royal Collagen Peptides when I am working out?</h3>
                      <div>Yes. Royal Collagen Peptides help protect muscles, ligaments, tendons, joints and bone. Inadequate levels of collagen in the body make connective tissue more prone to injury.</div>
                    </div>
                    <div class="collapse_inner slide">
                      <h3>Can I mix Royal Collagen Peptides with hot drinks?</h3>
                      <div>Our Royal Collagen Peptides Proprietary blend contains pharmaceutical grade Vitamin C which is very sensitive to heat, therefore, increased temperature rapidly boosts its degradation. Vitamin C is vital for the absorption of iron and the biosynthesis of collagen in the human body. We recommend consuming Royal Collagen Peptides with cold liquid, cold juice, smoothies, yogurt and cold soup or salads.</div>
                    </div>
                  </div>
				</div>
          	</div>
		</div>
	</div>
</section>

{% schema %}
	{
    	"name": "FAQ Section",
    	"settings": [
			{
				"type": "header",
				"content": "FAQ Section"
			},
			{
				"type": "image_picker",
				"id": "background",
				"label": "Upload Background"
			},
			{
				"type": "text",
				"id": "head",
				"label": "Section Heading"
			}
		],
		"name":   "FAQ List",
		"blocks": [
			{
				"type": "faq",
            	"name": "FAQ",
            	"settings": [
            		{
            			"type":   "text",
						"id":     "acc_title",
						"label":  "Question"
            		},
            		{
            			"type":   "richtext",
						"id":     "acc_text",
						"label":  "Answer"
            		}
            	]
			}
		]
  	}
{% endschema %}