{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

<div class="section-header collection-header text-center">
  	<h1>{{ collection.title }}</h1>
</div>

{% section 'collection-template' %}