<div class="our-story-page">
  	{% section 'page_banner' %}
  	{% comment %} {% section 'left_img_right_text' %} {% endcomment %}
	{% section 'about_us' %}
  	{% section 'two_images_center_content' %}
	{% section 'image_with_content' %}
	{% section 'left_image_text' %}
  	{% section 'about_collage' %}
	{% section 'join-list' %}
</div>